body {
  position: relative;
  height: 100vh;
  margin: 0;
  background: url('images/map.jpg') no-repeat center/cover;
  overflow: hidden;
}

.horizontal {
  position: absolute;
  width: 100%;
  border-top: dotted 1px black;
}

.vertical {
  position: absolute;
  height: 100%;
  border-left: dotted 1px black;
}

.pin {
  position: absolute;
}

.coordinates {
  position: absolute;
  margin-left: 40px;
  font-size: 2rem;
  white-space: nowrap;
}
